{% extends "base.html" %}
{% block title %}
Create Page
{% endblock title %}
{% block body %}
<form method="POST" action="/create">
{% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}
