{% extends "base.html" %}
{% block title%}Home Page{% endblock title%}

{% block body %}
<div class="container">
<h1>Total Tasks {{total_task}}</h1>
<h2>Total Completed Tasks {{completed_task}}</h2>
<h2>Total Incomplete Tasks {{incomplete_task}}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>

      <td scope="row">{{forloop.counter}} </td>
      <td>{{task.name}} </td>
      <td>
        {{task.description}}
      </td>
      <td>
      {% if task.is_completed %}
      <span class="text-success">Done</span>
      {% else %}
      <span class="text-danger">Pending</span>
      {% endif %}
      </td>
      <td>
        <a href="edit/{{task.id}}" class="btn btn-primary">Edit</a>
        <a href="delete/{{task.id}}" class="btn btn-danger">Delete</a>
        <a href="mark/{{task.id}}" class="btn btn-success">Mark</a>
        <a href="unmark/{{task.id}}" class="btn btn-danger">Unmark</a>
      </td>
    </tr>
  {% endfor %}    
  </tbody>
</table>
</div>
{% endblock body %}